
* {  
     margin: 0;
     padding:0;
    


}


     body{

          background-color: rgb(213, 163, 35);
          border: solid rgb(203, 153, 27)20px;
          border-radius: 7%;
        

}



     header { 

         display: flex;
         justify-content: space-around;
         padding: 1em;
         
    

     }


    nav { 

        
          width: 50vw;
          font-size: larger;


     }




     a {

         background-color: rgb(148, 31, 88);
         color: rgb(203, 153, 27);
         transition: color 250ms ease;


     }


     a:hover {


         color:mediumpurple;



     }



     header ul {

         display: flex;
         justify-content: space-evenly;
        
          
        
    }



     ul{

         list-style: none;
         

    }


     header, h2 { 

         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



     header, h2, p, a { 

         color: rgb(213, 163, 35);


    }

    p {    
         
         font-family:Arial, Helvetica, sans-serif;
         font-weight: 200;
        
}

    


     article, section, footer, header { 

          border: 20px solid rgb(167, 44, 103);
          background-color: rgb(148, 31, 88);
          border-radius: 10%;

    }

    


     footer{

         display:flex;
         justify-content: space-evenly;
         border: 15px solid rgb(167, 44, 103);
         padding: 1em;


}


     img {

         border-radius: 18%;



}


    


     .home article {

         
         padding: 2em;
         width: 45vw;
         margin: 2em;

        
         

}



     .home section {

         padding: 2em;
         margin: 2em;
         color: rgb(203, 153, 27);
         font-family: Arial, Helvetica, sans-serif;
                  

}

     .home section a {

         font-size: 20px ;
         padding-bottom: 1em;

}



     .home section h2 {

         padding-bottom: 1em;


}




    .home section h3 {


         font-family: Arial, Helvetica, sans-serif;
         font-size: 18px;

    }


    .home iframe { 

         border-radius: 10%;
         border: solid rgb(167, 44, 103) 10px;
         margin: 2em;
         

    } 

       

    .home div {

         display: grid;
         grid-template-columns: repeat(2, 1fr);
        

    }

    .home img { 

         width: 300px;
         padding: 2em;
         animation-name: circle;
         animation-duration: 6s;
         animation-timing-function: ease;
         animation-delay: 1s;
         animation-iteration-count: infinite;
         
         
    }


    @keyframes circle{
        0%{


        }
        50%{
            scale: 1,5;
        }
        100%{
            transform: rotate(360deg);
            
        }
    }
    



    /* episode grid */

    .container { 


         display: grid;
         grid-template-columns: repeat(10, 10%);
         grid-template-rows: repeat(9, 10%);
         grid-column-gap: 10px;
         grid-row-gap: 10px;


        }



     .afleveringen { 

         grid-row: 1/7;
         grid-column: 1/4;

        }





     .playlist {

             grid-row: 3/9;
             grid-column: 7/9;
             background-color: rgb(148, 31, 88);
             border: solid rgb(167, 44, 103) 10px;
             border-radius: 10%;
             width: 25vw;
             height: 45vw;
             margin: 2em;
             align-items: center;

        }

        .playlist h2{

             font-size: 35px;
             padding-bottom: 1em;
            
        }

        .playlist h3 {
            
             padding: 1em;
             font-weight: 100;
        }



        .playlist p {

             padding: 1em;
             font-size: medium;

        }






     .episodes footer { 
        grid-column: span 2 / span 2;
        grid-row-start: 8;



    }
            
    
     .episodes section { 

        
         display: flex;
         align-items: center;
         width: 40vw;
         padding: 1em;
         margin: 1em;
         grid-area: main;
         


   }

  

  

     .episodes playlist {

         width: 25vw;
         height: 40vh;
         



   }

   .episodes h3 { 

    color: rgb(203, 153, 27);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
   }




     .episodes div { 

         padding: 1em;
         transition: background 300ms ease;

   }



     .episodes img {

         width: 25%
        
    

    }




    .title {

         background-color: rgb(148, 31, 88);
         border: solid rgb(167, 44, 103) 10px;
         border-radius: 10%;
         padding: 1em;
         margin-top: 3em;
         margin-left: 4em;
         width: 25vw;
         font-weight: 50;
         




    }

   

    .tune { 

         grid-row: 2/1;
         grid-column: 7/10;
         width: 300px;
         height: 300px;
         background-color: rgb(148, 31, 88);
         border: solid rgb(167, 44, 103) 15px;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         animation-name: spin;
         animation-duration: 2s;
         animation-timing-function: ease;
         animation-delay: 1s;
         
         
    }


    @keyframes spin{
        0%{


        }
        50%{
            scale: 1,5;
        }
        100%{
            transform: rotate(360deg);
            
        }
    }


    .tune p {


         font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         font-size: 23px;
         font-weight: 200;

        
    }


/* episode grid styling end */




     .overons main { 

        align-content: center;
        

        


    }


   
     .overons section { 

         display: flex;
         justify-content: center;       
         padding: 1em;
         width: 75vw;
         margin: 2em;
         align-items: center;
         
         

}




    .overons article { 

         display: flex;
         justify-content: center;
         padding: 2em;
         width: 75vw;
         margin: 2em;
         align-items: center;   

    }



    .overons article img {

        width: 250px;


    }

    .overons section img { 

        width: 200px;
    }


    .overons h2 { 

        padding-bottom: 1em;
    }






    .overons div { 

         padding: 1em;

    }

   

    .channeling main {

         display: flex;
         justify-content: center;


    }





    .channeling section { 

     
         width: 55vw;
         height: 45vh;
         align-items: center;
         padding: 2em;
         margin-top: 10em;



   }


    .channeling h2 {

         font-size: 35px;
         padding-bottom: 1em;
         animation-name: colorchange;
         animation-duration: 4s;
         animation-iteration-count: infinite;
         animation-timing-function: ease;




   }

   @keyframes colorchange {
    0%{
        color: rgb(203, 153, 27);
    }
    25%{
        color: rgb(203, 27, 56);
    }
    50%{
        color: rgb(183, 26, 139);
    }
    100%{
        color: mediumpurple;
    }



   }



   .channeling aside {

    margin: 2em;
    border: 20px solid rgb(167, 44, 103);
    background-color: rgb(148, 31, 88);
    border-radius: 10%;
    color: rgb(203, 153, 27);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    text-align: center;

    
   }


   .channeling iframe {

    width: 30vw;
    margin: 2em;
    border: 10px solid rgb(167, 44, 103);
    background-color: rgb(148, 31, 88);
    border-radius: 10%;

}

.channeling h3{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(203, 153, 27);
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 22px;
    
   

}


.channeling p { 


    font-size: 18px;
}



